# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"

# PostgreSQL Database credentials (Wasmer / Cloud Postgres)
PG_HOST="psql.fr-roub1.bengt.wasmernet.com"
PG_PORT="20184"
PG_DATABASE="video"
PG_USER="user_9f0a1bbd"
PG_PASSWORD="pw_Nkmiu3Ab8L9fPXRfjABNHImvr6carZO"

# Admin access password
ADMIN_PASSWORD="1213234"
JWT_SECRET="animem-uz-secure-jwt-key-2026"
ALLOWED_DOMAINS="animem.uz,www.animem.uz,localhost"
